body {
  background-color: #f9f6f1;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

header {
  border-bottom: 1px solid #f9f6f1;
  padding: 0 0 20px 0;
}
main {
  padding: 15px 0;
}

a {
  color: #f2d1a7;
}

.weather-app {
  background: white;
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
  padding: 30px;
}

.search-form-input {
  background-color: #f9f6f1;
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
}

.search-form-button {
  background: #f2d1a7;
  padding: 15px 30px;
  border: none;
  font-size: 16px;
  margin-left: 5px;
  border-radius: 6px;
  color: white;
}

.weather-app-city {
  text-align: center;
  font-size: 45px;
}

.weather-app-temperature-container {
  display: flex;
  justify-content: center;
}

.weather-app-icon {
  width: 120px;
  height: 120px;
  margin-right: 40%;
}

.weather-app-temperature {
  font-size: 80px;
}
.weatehr-app-unit {
  margin-top: 20px;
  font-size: 25px;
}
.weather-app-details {
  text-align: center;
  margin-top: 20px;
  font-size: 15px;
}
.weather-app-details strong {
  color: #f2d1a7;
}
.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
}

.weather-forecast-date {
  text-align: center;
  color: #000000;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.weather-forecast-icon {
  width: 88px;
  height: 88px;
  display: block;
  margin: 0 auto;
}
.weather-forecast-temperatures {
  text-align: center;
  color: #f2d1a7;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.weather-forecast-temperature {
  padding: 0 10px;
}

footer {
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 12px;
  color: rgb(0, 0, 0);
}
